<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button text="Voltar" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>CADASTRO</ion-title>
  </ion-toolbar>
</ion-header>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<ion-content color="dark">

  <form [formGroup]="signupForm">

  <ion-item color="dark">
    <ion-icon name="cube"></ion-icon>
    <ion-input formControlName="robloxName" placeholder="Seu @ no Roblox"></ion-input>
  </ion-item>

  <ion-item color="dark">
    <ion-icon name="mail"></ion-icon>
    <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
  </ion-item>


  <ion-item color="dark">
    <ion-icon name="lock"></ion-icon>
    <ion-input type="password" formControlName="password" placeholder="Senha"></ion-input>
  </ion-item>

</form>
  <!-- 
      <ion-item color="dark">
          <ion-label position="floating">Código de indicação (opcional)</ion-label>
          <ion-input [(ngModel)]="codigo"></ion-input>
        </ion-item> -->

 
  
      <ion-button [disabled]="!signupForm.valid" color="primary" expand="full" size="large" (click)="signUp()">CADASTRAR</ion-button>


</ion-content>