<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-back-button text='' icon="arrow-dropleft" defaultHref="/"></ion-back-button>
        </ion-buttons>

    <ion-title>Sorteio de ROBUX</ion-title>

    <ion-buttons slot="primary">
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

  

    <ion-fab vertical="top" horizontal="start" slot="fixed">
        <ion-fab-button color="secondary">
            <ion-icon name="md-share"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="end">
            <ion-fab-button color="success" (click)="shareWhats()">
              <ion-icon name="logo-whatsapp"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>

    <ion-card *ngIf="tipoSorteio == 'diario'">
 
        <img id="cardSorteioBau" src="https://store-images.s-microsoft.com/image/apps.14594.65391496338792539.9dfde316-9e5e-496d-8491-e4e5e3b6c541.017066f1-6106-45dc-aa28-8577cbbda5c5?mode=scale&q=90&h=720&w=1280&format=jpg" >
  
        <ion-card-content >
          <p>Participe do sorteio diário de <b>50 ROBUX</b>. O vencedor é anunciado todos os dias as 22h horário de Brasília. Não deixe de conferir a aba de vencedores no app.</p>
        </ion-card-content>
    
        <div class="ion-text-center"> <p id="npart" class="texto"></p> </div>
            <ion-button [disabled]="enableButton" expand="block" icon-start (click)="Participar()"  >
                <ion-icon name="videocam"></ion-icon>
            <ion-label>Participar do sorteio diário</ion-label>
            </ion-button>
    
        <ion-row>
          <ion-col align-self-center text-center>
            <ion-note>
              ROBLOX SORTEIO DIÁRIO
            </ion-note>
            <br>
            <div class="participoubau"></div>
          </ion-col>
        </ion-row>
    
      </ion-card>

      <ion-card  *ngIf="tipoSorteio == 'mensal'">
 
        <img id="cardSorteioBau" src="https://store-images.s-microsoft.com/image/apps.14594.65391496338792539.9dfde316-9e5e-496d-8491-e4e5e3b6c541.017066f1-6106-45dc-aa28-8577cbbda5c5?mode=scale&q=90&h=720&w=1280&format=jpg" >
  
        <ion-card-content >
          <p>O grande sorteio de <b>800 ROBUX</b> acontece todo final do mês e o vencedor é anunciado no dia seguinte ao 12h. Lembre-se que você tem o direito de participar 1 vez por dia até o grande dia do sorteio.</p>
        </ion-card-content>
    
        <div class="ion-text-center"> <p id="npart" class="texto"></p> </div>
            <ion-button [disabled]="enableButton" expand="block" icon-start (click)="Participar()" >
                <ion-icon name="videocam"></ion-icon>
            <ion-label>Participar do sorteio mensal</ion-label>
            </ion-button>
    
        <ion-row>
          <ion-col align-self-center text-center>
            <ion-note>
              ROBLOX SORTEIO MENSAL
            </ion-note>
            <br>
            <div class="participoubau"></div>
          </ion-col>
        </ion-row>
    
      </ion-card>
      
</ion-content>
