<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-back-button text="Voltar" defaultHref="/"></ion-back-button>
        </ion-buttons>

    <ion-title>LOL</ion-title>

    <ion-buttons slot="primary">
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-fab vertical="top" horizontal="start" slot="fixed">
        <ion-fab-button color="secondary">
            <ion-icon name="md-share"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="end">
            <ion-fab-button color="success" (click)="shareWhats()">
              <ion-icon name="logo-whatsapp"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>

    <ion-card *ngFor="let dados of participateCard">

        <img id="cardSorteioBau" src="{{dados.background}}">
    
        <ion-card-content>
          <p>{{dados.descricao}}</p>
        </ion-card-content>
    
        <div class="ion-text-center"> <p id="npart" class="texto"></p> </div>
            <ion-button expand="block" icon-start (click)="ParticiparBau()">
                <ion-icon name="videocam"></ion-icon>
            <ion-label>Participar</ion-label>
            </ion-button>
    
        <ion-row>
          <ion-col align-self-center text-center>
            <ion-note>
              {{dados.jogo}}
            </ion-note>
            <br>
            <div class="participoubau"></div>
          </ion-col>
        </ion-row>
      </ion-card>
      
</ion-content>
