<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Já ganhei algo?
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Voltar" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-list-header color="dark">
    Suas ultimas vitórias
  </ion-list-header>


  <ion-item color="dark" *ngFor="let vencedores of vencedoresInd">
    <ion-avatar slot="start">
      <img src="../../assets/imgs/medalha.png">
    </ion-avatar>
    <ion-label class="nomeStyle">
      {{vencedores.robloxName}} - {{vencedores.premio}}
      <br>
    </ion-label>
    <ion-label id="dataGanhou">
      {{vencedores.data}}
    </ion-label>
  </ion-item>
</ion-content>