

<ion-content color="dark">

  <form [formGroup]="authForm">

    <img  class="login-img" src="../../assets/imgs/logo.png">
    <h3></h3>

   

        <ion-item color="dark" class="login-spacement" no-lines>
            <ion-icon name="mail"></ion-icon>
          <ion-input formControlName="email" type="email" placeholder="E-mail" transparent></ion-input>
        </ion-item>

        <ion-item color="dark">
            <ion-icon name="lock"></ion-icon>
          <ion-input type="password" placeholder="Senha" formControlName="password"></ion-input>
        </ion-item>

     <br>

    </form>

<ion-button color="success"   (click)="signIn()" [disabled]="!authForm.valid">ENTRAR</ion-button>
<ion-button color="tertiary"  (click)="cadastro()">CADASTRE-SE</ion-button>
<ion-button color="secondary" (click)="recoverPass()">RECUPERAR SENHA</ion-button>


</ion-content>
