<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Confira os últimos vencedores
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="dark">
  <br>

    <ion-item color="dark" *ngFor="let vencedores of vencedoresList">
      <ion-avatar slot="start">
        <img id="avatarListWins" src="../../assets/imgs/medalha.png">
      </ion-avatar>
      <ion-label class="nomeStyle">
        <b>{{vencedores.robloxname}}</b>
        <p>{{vencedores.premio}}</p>
      </ion-label>
      <ion-chip slot="end" color="{{vencedores.color}}">
        <ion-label class="status">
          {{vencedores.status}}
        </ion-label>
      </ion-chip>
    </ion-item>


</ion-content>