<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-back-button text="Voltar" defaultHref="/"></ion-back-button>
        </ion-buttons>

    <ion-title>STEAM CARDS</ion-title>

    <ion-buttons slot="primary">
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-fab vertical="top" horizontal="start" slot="fixed">
        <ion-fab-button color="secondary">
            <ion-icon name="md-share"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="end">
            <ion-fab-button color="success" (click)="shareWhats()">
              <ion-icon name="logo-whatsapp"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>

    <ion-card>

        <img id="cardSorteioChave" src="">
    
    
        <ion-card-content class="text_in_card">
          <p id="descricaoChave"></p>
        </ion-card-content>
    
    
    
        <div class="ion-text-center"> <p id="npartcs" class="texto"></p> </div>
    
            <ion-button color="light" expand="block" icon-start (click)="ParticiparcsChave()">
                <ion-icon name="videocam"></ion-icon>
              <ion-label>Participar</ion-label>
            </ion-button>
    
        <!--Periodo de participação-->
        <ion-row>
          <ion-col align-self-center text-center>
            <ion-note>
              CS:GO
            </ion-note>
          </ion-col>
        </ion-row>
        <!--FIM DO BLOCO DE PERIODO DE PARTICIPAÇÃO-->
    
      </ion-card>

      <ion-card>

        <img id="cardSorteioSkinCS" src="">
    
    
        <ion-card-content class="text_in_card">
          <p id="descricaoSkin"></p>
        </ion-card-content>
    
    
    
        <div class="ion-text-center"> <p id="npartcs" class="texto"></p> </div>
    
            <ion-button color="light" expand="block" icon-start (click)="ParticiparcsSkin()">
              <ion-icon name="videocam"></ion-icon>
              <ion-label>Participar</ion-label>
            </ion-button>
    
        <!--Periodo de participação-->
        <ion-row>
          <ion-col align-self-center text-center>
            <ion-note>
              CS-GO
            </ion-note>
          </ion-col>
        </ion-row>
        <!--FIM DO BLOCO DE PERIODO DE PARTICIPAÇÃO-->
    
      </ion-card>

</ion-content>
