<ion-header>

  <meta charset="UTF-8">
  <link rel="stylesheet" href="/docs/assets/ionic/css/ionic.bundle.css"/>
  <script defer src="/docs/assets/ionic/dist/ionic.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</ion-header>

<ion-content fullscreen padding scroll-y="false">
  <ion-slides>

    <ion-slide>
      <img src="../../assets/imgs/slide1.png"/>
      <h2>Bem vindo ao <b>SKINS</b></h2>
      <p>Sorteios semanais e raspadinha da sorte para você tentar a sorte de ganhar uma <b>skin</b> no League of Legends</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/imgs/slide2.png"/>
      <h2>Como participar?</h2>
      <p>É fácil <b>DEMAIS,</b> assim que efetuar o login, basta participar do sorteio disponível em nosso app. Depois é só aguardar o dia do sorteio! Você <b>PODE</b> participar 1 vez por dia para aumentar suas chances, então não esqueça de voltar todos os dias.</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/imgs/slide4.png"/>
      <h2>Dúvidas?</h2>
      <p>Se ainda não entendeu muito bem basta seguir nosso instagram @skins_leagueoflegends e mandar um direct ;)</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/imgs/slide5.png"/>
      <h2>Parabéns, você já sabe o necessário.</h2>
      <ion-button fill="clear" (click)="verificaSlide()">VAMOS LÁ! <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
